@model HockeyClubAPI.Models.Player

<h1>Add New Player</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
      <label asp-for="FullName" class="control-label"></label>
      <input asp-for="FullName" class="form-control" />
      <span asp-validation-for ="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Position" class="control-label"></label>
      <input asp-for="Position" class="form-control" />
      <span asp-validation-for="Position" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="JerseyNumber" class="control-label"></label>
        <input asp-for="JerseyNumber" class="form-control" />
        <span asp-validation-for="JerseyNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth" class="control-label"></label>
        <input asp-for="DateOfBirth" class="form-control" type="date" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>